/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
/public/creator/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.env.backup
docker-compose.override.yml
/.idea
/.vscode
/public/helix/assets/ford_bronco/textures/04___Default_diffuse.jpeg
/public/helix/assets/ford_bronco/textures/07___Default777_diffuse.jpeg
/public/helix/assets/ford_bronco/license.txt
/public/helix/assets/ford_bronco/scene.bin
/public/helix/assets/ford_bronco/scene.gltf
/public/helix/assets/ford_mustand/textures/04___Default_diffuse.jpeg
/public/helix/assets/ford_mustand/textures/07___Default777_diffuse.jpeg
/public/helix/assets/ford_mustand/textures/Iron_Clean_Distorted_diffuse.jpeg
/public/helix/assets/ford_mustand/license.txt
/public/helix/assets/ford_mustand/scene.bin
/public/helix/assets/ford_mustand/scene.gltf
/public/helix/assets/helix/old/Concept_Car_Final.glb
/public/helix/assets/helix/old/f150_lighting.glb
/public/helix/assets/helix/old/ford_bronco.glb
/public/helix/assets/helix/old/ford_modelT.glb
/public/helix/assets/helix/old/ford_mustang.glb
/public/helix/assets/helix/old/Hummer.glb
/public/helix/assets/helix/old/Kia_EV6.glb
/public/helix/assets/helix/old/Mercedes-EQS-SUV.glb
/public/helix/assets/helix/old/Mercedes-EQS-SUV-transformed.glb
/public/helix/assets/helix/old/Telluride.glb
/public/helix/assets/helix/oldCompressed/Cadilliac.glb
/public/helix/assets/helix/oldCompressed/Concept_Car_Final.glb
/public/helix/assets/helix/oldCompressed/f150_lighting.glb
/public/helix/assets/helix/oldCompressed/ford_bronco.glb
/public/helix/assets/helix/oldCompressed/ford_modelT.glb
/public/helix/assets/helix/oldCompressed/ford_mustang.glb
/public/helix/assets/helix/oldCompressed/hammer.glb
/public/helix/assets/helix/oldCompressed/Helix_Vehicle_Final.glb
/public/helix/assets/helix/oldCompressed/HERO.glb
/public/helix/assets/helix/oldCompressed/Hummer.glb
/public/helix/assets/helix/oldCompressed/hunter_combined.glb
/public/helix/assets/helix/oldCompressed/hunter_combined_compressed.glb
/public/helix/assets/helix/oldCompressed/Kia_EV6.glb
/public/helix/assets/helix/oldCompressed/Telluride.glb
/public/helix/assets/helix/oldCompressed/Telluride_1.glb
/public/helix/assets/helix/oldCompressed/Telluride_old.glb
/public/helix/assets/helix/Alfa-Romeo.glb
/public/helix/assets/helix/Alfa-Romeo-transformed.glb
/public/helix/assets/helix/BMW_XM.glb
/public/helix/assets/helix/BMW_XM-transformed.glb
/public/helix/assets/helix/Cadilliac-transformed.glb
/public/helix/assets/helix/Concept_Car_Final.png
/public/helix/assets/helix/Concept_Car_Final-transformed.glb
/public/helix/assets/helix/EQS-SUV1.glb
/public/helix/assets/helix/f150_lighting-transformed.glb
/public/helix/assets/helix/ford_bronco-transformed.glb
/public/helix/assets/helix/ford_modelT-transformed.glb
/public/helix/assets/helix/ford_mustang-transformed.glb
/public/helix/assets/helix/gltfpack
/public/helix/assets/helix/Hacker.png
/public/helix/assets/helix/Hacker_LowPoly.glb
/public/helix/assets/helix/Hacker_LowPoly-transformed.glb
/public/helix/assets/helix/hammer-transformed.glb
/public/helix/assets/helix/Hammer_LowPoly.glb
/public/helix/assets/helix/Helix_Truck_Final.png
/public/helix/assets/helix/Helix_Vehicle_Final.png
/public/helix/assets/helix/Helix_Vehicle_Final-transformed.glb
/public/helix/assets/helix/Hero_LowPoly.glb
/public/helix/assets/helix/Hero_LowPoly-transformed.glb
/public/helix/assets/helix/Hummer-transformed.glb
/public/helix/assets/helix/hunter_combined-transformed.glb
/public/helix/assets/helix/Kia_EV6-transformed.glb
/public/helix/assets/helix/mercedes-eqs-sedan.glb
/public/helix/assets/helix/mercedes-eqs-sedan-transformed.glb
/public/helix/assets/helix/Mercedes-EQS-SUV-transformed.glb
/public/helix/assets/helix/Telluride-transformed.glb
/public/helix/assets/helix/Telluride_fix.js
/public/helix/assets/old_hdrs/background_1.hdr
/public/helix/assets/old_hdrs/background_2.hdr
/public/helix/assets/old_hdrs/background_3.hdr
/public/helix/assets/old_hdrs/background_4.hdr
/public/helix/assets/old_hdrs/background_5.hdr
/public/helix/assets/old_hdrs/background_6.hdr
/public/helix/assets/old_hdrs/background_8.hdr
/public/helix/assets/old_hdrs/background_9.hdr
/public/helix/js/chunks/88.js
/public/helix/js/chunks/88.js.br
/public/helix/js/chunks/88.js.gz
/public/helix/js/chunks/320.js
/public/helix/js/chunks/320.js.br
/public/helix/js/chunks/320.js.gz
/public/helix/js/chunks/320.js.LICENSE.txt
/public/helix/js/chunks/410.js
/public/helix/js/chunks/410.js.br
/public/helix/js/chunks/410.js.gz
/public/helix/js/chunks/410.js.LICENSE.txt
/public/helix/js/chunks/551.js
/public/helix/js/chunks/551.js.br
/public/helix/js/chunks/551.js.gz
/public/helix/js/chunks/551.js.LICENSE.txt
/public/helix/js/chunks/704.js
/public/helix/js/chunks/704.js.br
/public/helix/js/chunks/704.js.gz
/public/helix/js/chunks/704.js.LICENSE.txt
/public/helix/js/chunks/722.js
/public/helix/js/chunks/722.js.br
/public/helix/js/chunks/722.js.gz
/public/helix/js/chunks/722.js.LICENSE.txt
/public/helix/js/chunks/806.js
/public/helix/js/chunks/806.js.br
/public/helix/js/chunks/806.js.gz
/public/helix/js/chunks/806.js.LICENSE.txt
/public/helix/js/app.js
/public/helix/js/app.js.br
/public/helix/js/app.js.gz
/public/helix/js/app.js.LICENSE.txt
/public/helixAssets/assets/ford_bronco/textures/04___Default_diffuse.jpeg
/public/helixAssets/assets/ford_bronco/textures/07___Default777_diffuse.jpeg
/public/helixAssets/assets/ford_bronco/license.txt
/public/helixAssets/assets/ford_bronco/scene.bin
/public/helixAssets/assets/ford_bronco/scene.gltf
/public/helixAssets/assets/ford_mustand/textures/04___Default_diffuse.jpeg
/public/helixAssets/assets/ford_mustand/textures/07___Default777_diffuse.jpeg
/public/helixAssets/assets/ford_mustand/textures/Iron_Clean_Distorted_diffuse.jpeg
/public/helixAssets/assets/ford_mustand/license.txt
/public/helixAssets/assets/ford_mustand/scene.bin
/public/helixAssets/assets/ford_mustand/scene.gltf
/public/helixAssets/assets/HDRs/background_0.hdr
/public/helixAssets/assets/HDRs/background_0_og.hdr
/public/helixAssets/assets/HDRs/background_1.hdr
/public/helixAssets/assets/HDRs/background_2.hdr
/public/helixAssets/assets/HDRs/Helix_lowpoly.hdr
/public/helixAssets/assets/HDRs/newBackgound.hdr
/public/helixAssets/assets/HDRs/newBackground.hdr
/public/helixAssets/assets/HDRs/potsdamer_platz_1k.exr
/public/helixAssets/assets/HDRs/potsdamer_platz_1k.hdr
/public/helixAssets/assets/helix/old/Concept_Car_Final.glb
/public/helixAssets/assets/helix/old/f150_lighting.glb
/public/helixAssets/assets/helix/old/ford_bronco.glb
/public/helixAssets/assets/helix/old/ford_modelT.glb
/public/helixAssets/assets/helix/old/ford_mustang.glb
/public/helixAssets/assets/helix/old/Hummer.glb
/public/helixAssets/assets/helix/old/Kia_EV6.glb
/public/helixAssets/assets/helix/old/Mercedes-EQS-SUV.glb
/public/helixAssets/assets/helix/old/Mercedes-EQS-SUV-transformed.glb
/public/helixAssets/assets/helix/old/Telluride.glb
/public/helixAssets/assets/helix/oldCompressed/Cadilliac.glb
/public/helixAssets/assets/helix/oldCompressed/Concept_Car_Final.glb
/public/helixAssets/assets/helix/oldCompressed/f150_lighting.glb
/public/helixAssets/assets/helix/oldCompressed/ford_bronco.glb
/public/helixAssets/assets/helix/oldCompressed/ford_modelT.glb
/public/helixAssets/assets/helix/oldCompressed/ford_mustang.glb
/public/helixAssets/assets/helix/oldCompressed/hammer.glb
/public/helixAssets/assets/helix/oldCompressed/Helix_Vehicle_Final.glb
/public/helixAssets/assets/helix/oldCompressed/HERO.glb
/public/helixAssets/assets/helix/oldCompressed/Hummer.glb
/public/helixAssets/assets/helix/oldCompressed/hunter_combined.glb
/public/helixAssets/assets/helix/oldCompressed/hunter_combined_compressed.glb
/public/helixAssets/assets/helix/oldCompressed/Kia_EV6.glb
/public/helixAssets/assets/helix/oldCompressed/Telluride.glb
/public/helixAssets/assets/helix/oldCompressed/Telluride_1.glb
/public/helixAssets/assets/helix/oldCompressed/Telluride_old.glb
/public/helixAssets/assets/helix/Alfa-Romeo.glb
/public/helixAssets/assets/helix/Alfa-Romeo-transformed.glb
/public/helixAssets/assets/helix/BMW_XM.glb
/public/helixAssets/assets/helix/BMW_XM-transformed.glb
/public/helixAssets/assets/helix/Cadilliac-transformed.glb
/public/helixAssets/assets/helix/Concept_Car_Final.png
/public/helixAssets/assets/helix/Concept_Car_Final-transformed.glb
/public/helixAssets/assets/helix/EQS-SUV1.glb
/public/helixAssets/assets/helix/f150_lighting-transformed.glb
/public/helixAssets/assets/helix/ford_bronco-transformed.glb
/public/helixAssets/assets/helix/ford_modelT-transformed.glb
/public/helixAssets/assets/helix/ford_mustang-transformed.glb
/public/helixAssets/assets/helix/gltfpack
/public/helixAssets/assets/helix/Hacker.png
/public/helixAssets/assets/helix/Hacker_LowPoly.glb
/public/helixAssets/assets/helix/Hacker_LowPoly-transformed.glb
/public/helixAssets/assets/helix/hammer-transformed.glb
/public/helixAssets/assets/helix/Hammer_LowPoly.glb
/public/helixAssets/assets/helix/Helix_Truck_Final.png
/public/helixAssets/assets/helix/Helix_Vehicle_Final.png
/public/helixAssets/assets/helix/Helix_Vehicle_Final-transformed.glb
/public/helixAssets/assets/helix/Hero_LowPoly.glb
/public/helixAssets/assets/helix/Hero_LowPoly-transformed.glb
/public/helixAssets/assets/helix/Hummer-transformed.glb
/public/helixAssets/assets/helix/hunter_combined-transformed.glb
/public/helixAssets/assets/helix/Kia_EV6-transformed.glb
/public/helixAssets/assets/helix/mercedes-eqs-sedan.glb
/public/helixAssets/assets/helix/mercedes-eqs-sedan-transformed.glb
/public/helixAssets/assets/helix/Mercedes-EQS-SUV-transformed.glb
/public/helixAssets/assets/helix/Telluride-transformed.glb
/public/helixAssets/assets/helix/Telluride_fix.js
/public/helixAssets/assets/old_hdrs/background_1.hdr
/public/helixAssets/assets/old_hdrs/background_2.hdr
/public/helixAssets/assets/old_hdrs/background_3.hdr
/public/helixAssets/assets/old_hdrs/background_4.hdr
/public/helixAssets/assets/old_hdrs/background_5.hdr
/public/helixAssets/assets/old_hdrs/background_6.hdr
/public/helixAssets/assets/old_hdrs/background_8.hdr
/public/helixAssets/assets/old_hdrs/background_9.hdr
/public/helixAssets/assets/rayban/glb/black_green_rayban.glb
/public/helixAssets/assets/rayban/glb/classic_rayban.glb
/public/helixAssets/assets/rayban/glb/green_classic_rayban.glb
/public/helixAssets/assets/rayban/glb/grey_mirrored_rayban.glb
/public/helixAssets/assets/rayban/textures/black_green_classic.png
/public/helixAssets/assets/rayban/textures/brown_classic.png
/public/helixAssets/assets/rayban/textures/green_classic_matte.png
/public/helixAssets/assets/rayban/textures/green_classic_opac.png
/public/helixAssets/assets/rayban/textures/grey_opaque.png
/public/helixAssets/assets/rayban/textures/transparent_grey.png
/public/helixAssets/assets/rayban/rayban_image.png
/public/humanityrocks/assets/models/black_shuttle.glb
/public/humanityrocks/assets/models/black_shuttle-transformed.glb
/public/humanityrocks/assets/models/gold_shuttle.glb
/public/humanityrocks/assets/models/gold_shuttle-transformed.glb
/public/humanityrocks/assets/models/purple_shuttle.glb
/public/humanityrocks/assets/models/purple_shuttle-transformed.glb
/public/humanityrocks/assets/models/shuttle_green.glb
/public/humanityrocks/assets/models/shuttle_green-transformed.glb
/public/humanityrocks/assets/models/shuttle_lava.glb
/public/humanityrocks/assets/models/shuttle_lava-transformed.glb
/public/humanityrocks/assets/models/white_shuttle.glb
/public/humanityrocks/assets/models/white_shuttle-transformed.glb
/public/humanityrocks/assets/models/christine.glb
/public/humanityrocks/assets/models/Christine.jsx
/public/humanityrocks/assets/models/christine-transformed.glb
/public/humanityrocks/assets/models/papi.glb
/public/humanityrocks/assets/models/Papi.jsx
/public/humanityrocks/assets/models/papi-transformed.glb
/public/humanityrocks/assets/models/stryker.glb
/public/humanityrocks/assets/models/Stryker.jsx
/public/humanityrocks/assets/models/stryker-transformed.glb
/public/humanityrocks/assets/models/yogi.glb
/public/humanityrocks/assets/models/Yogi.jsx
/public/humanityrocks/assets/models/yogi-transformed.glb
