// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Inter');

// Variables
@import 'variables';

// mixins
@mixin common-font-styles {
    font-family: Inter, 'serif';
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-style: normal;
}

@mixin white-card {
    border: 1px solid #DADADA;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
}

// pages
.nft-details {
    .nft-details-btn {
        padding: 2rem;
        box-shadow: 2px 2px 0 0 #000;
        border-radius: 8px;
        border: 0.5px solid #000;
        max-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    .nft-details-btn.gold {
        background: $primary-gold;
        padding: 1rem 5rem 1rem 5rem;
    }

    .nft-details-btn.vote {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 0.25rem;
        background: transparent;
    }

    .custom-menu {
        min-width: 25rem !important;
    }

    div.member-avatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            left: 7px;
            top: 7px;
            max-height: 58px;
            max-width: 58px;
            border-radius: 50%;
        }
    }

    h1.member-title {
        margin: 0!important;
        font-family: Inter, "serif";
        font-size: 1em;
    }

    div.member-card {
        @include white-card;
        padding: 1rem;
        width: 306px;
        height: 104px;
    }

    button.border-btn {
        @include white-card;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }

        #wrenchIcon {
            fill: black;
        }
    }

    input[type='range'] {
       accent-color: gold !important;
    }
}

.nft-info-section {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: Inter, 'serif';
            font-weight: 500;
        }

        button {
            border: none;
            background-color: transparent;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }
    }
}

/* cards */
.icon-card {
    @include white-card;
    min-width: 141px;
    min-height: 149px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    font-family: Inter, 'serif';

    h6 {
        @include common-font-styles;
        margin-top: 1rem;
        color: #000;
        font-size: 16px;
        line-height: 100%; /* 16px */
        font-weight: 600;
    }

    p {
        @include common-font-styles;
        color: #000;
        font-size: 11px;
        font-weight: 500;
        line-height: 140%; /* 15.4px */
    }
}

// Utility

.horizontal-bar {
    border-right: 1px solid black;
    width: 1px;
    min-height: 4rem;
    height: 100%;
}

// Animations

.rotate {
    transform: rotate(180deg) !important;
}
