@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap);
.nft-details .nft-details-btn {
  padding: 2rem;
  box-shadow: 2px 2px 0 0 #000;
  border-radius: 8px;
  border: 0.5px solid #000;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.nft-details .nft-details-btn:hover {
  opacity: 0.8;
}
.nft-details .nft-details-btn:active {
  opacity: 0.6;
}
.nft-details .nft-details-btn.gold {
  background: #F4B406;
  padding: 1rem 5rem 1rem 5rem;
}
.nft-details .nft-details-btn.vote {
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.25rem;
  background: transparent;
}
.nft-details .custom-menu {
  min-width: 25rem !important;
}
.nft-details button.border-btn {
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.nft-details button.border-btn:hover {
  opacity: 0.8;
}
.nft-details button.border-btn:active {
  opacity: 0.6;
}
.nft-details button.border-btn #wrenchIcon {
  fill: black;
}
.nft-details input[type=range] {
  accent-color: gold !important;
}

div.member-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.member-avatar img {
  position: absolute;
  left: 7px;
  top: 7px;
  max-height: 58px;
  max-width: 58px;
  border-radius: 50%;
}

div.member-avatar-square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.member-avatar-square img {
  max-height: 58px;
  max-width: 58px;
  border-radius: 15%;
}

h1.member-title {
  margin: 0 !important;
  font-family: Inter, "serif";
  font-size: 1em;
}

div.member-card {
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  min-width: 306px;
  height: 104px;
}

.nft-info-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft-info-section header h1 {
  font-family: Inter, "serif";
  font-weight: 500;
}
.nft-info-section header button {
  border: none;
  background-color: transparent;
}
.nft-info-section header button:hover {
  opacity: 0.8;
}
.nft-info-section header button:active {
  opacity: 0.6;
}

.draft-edit-input {
  border-color: black !important;
}

button.remove-btn {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 2rem;
}
button.remove-btn:hover {
  opacity: 0.8;
}
button.remove-btn:active {
  opacity: 0.6;
}

button.add-member {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #F0F0F0;
  box-shadow: 1px 1px 0 0 #000;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}
button.add-member:hover {
  opacity: 0.8;
}
button.add-member:active {
  opacity: 0.6;
}

button.submit {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #F4B406;
  box-shadow: 1px 1px 0 0 #000;
  width: 100%;
}
button.submit:hover {
  opacity: 0.8;
}
button.submit:active {
  opacity: 0.6;
}

button.cancel {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #F0F0F0;
  box-shadow: 1px 1px 0 0 #000;
  width: 100%;
}
button.cancel:hover {
  opacity: 0.8;
}
button.cancel:active {
  opacity: 0.6;
}

.marketplace-listing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.marketplace-listing:hover {
  cursor: pointer;
}

.marketplace-listing:active {
  opacity: 0.8;
}

.bottom-footer-row {
  border-top: 1px solid black;
  padding: 2rem 0 2rem 0;
}

.footer-heading {
  color: #000;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 36.4px */
  letter-spacing: 0.52px;
  text-transform: uppercase;
}

.footer-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.28px;
}

.footer-list-item {
  list-style-type: none;
}
.footer-list-item a {
  color: black;
  text-decoration: none;
}

input.footer-subscribe-input {
  border-radius: 12px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 2px 2px 0px 0px #000;
}

.auth-header {
  height: 4rem;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.auth-container {
  height: 93.5vh;
  background: url("/image/auth-background.png") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-container form {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(48, 115, 218, 0.75);
  padding: 2rem 5rem 2rem 5rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}
.auth-container form h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.auth-container form h6 {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}
.auth-container form h5 {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}
.auth-container form .bold {
  font-weight: 600;
}
.auth-container form .width-md {
  width: 60%;
  text-align: center;
  text-transform: none;
}
.auth-container div.avatar-icon {
  background: #517CBE;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-container form.register-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: none;
}
.auth-container form.register-form input[type=text] {
  box-shadow: 0 5px 40px rgba(48, 115, 218, 0.75);
  padding: 1rem 1rem 1rem 1rem;
  width: 40rem;
  border: none;
  font-size: 30px;
}
.auth-container form.register-form input[type=radio] {
  border: none;
  height: 2rem;
  width: 2rem;
}
.auth-container form.register-form input[type=radio]:checked + label {
  color: rgba(48, 115, 218, 0.75);
}

div#step-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
div#step-3 div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background: white;
  box-shadow: 0 5px 40px rgba(48, 115, 218, 0.75);
  width: 40rem;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 10px;
}
div#step-3 div div:hover {
  cursor: pointer;
  opacity: 0.8;
}
div#step-3 div div label {
  font-size: 18px;
}

div.photo-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
div.photo-btns button {
  background: white;
  color: #517CBE;
  border: 1px solid #517CBE;
  border-radius: 10px;
  text-align: center;
  width: 60%;
  padding: 2rem 0 2rem 0;
}
div.photo-btns div {
  display: flex;
  width: 120px;
}
div.photo-btns button.file-input {
  background: transparent;
  border: none;
  color: white;
  padding: 0;
  text-decoration: underline;
}

div#step-5 {
  height: 100%;
  width: 100%;
}
div#step-5 iframe {
  height: 100%;
  width: 100%;
}

.auth-btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
  width: 100%;
}
.auth-btn-group button.auth-btn {
  width: 100%;
  border: 1px solid #A7A7A7;
  background: white;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-btn-group button.auth-btn span {
  flex: 1;
}

button.btn-more {
  background: transparent;
  border: none;
  margin-top: 2rem;
}
button.btn-more:hover {
  opacity: 0.8;
}

main.register-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.register-container h1 {
  color: #333;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

footer.register-footer {
  width: 100%;
  background: #fff;
}

.footer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.footer-controls button.back-btn {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #E7E7E7;
  box-shadow: 2px 2px 0px 0px #000;
  width: 88px;
  height: 39px;
  font-family: "Exo 2", sans-serif;
}
.footer-controls button.back-btn:hover {
  opacity: 0.8;
}
.footer-controls button.back-btn:active {
  opacity: 0.6;
}
.footer-controls button.next-btn {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #517CBE;
  box-shadow: 2px 2px 0px 0px #000;
  width: 113px;
  height: 39px;
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-controls button.next-btn:hover {
  opacity: 0.8;
}
.footer-controls button.next-btn:active {
  opacity: 0.6;
}
.footer-controls button.skip-btn {
  border: none;
  font-family: "Exo 2", sans-serif;
  background: transparent;
}
.footer-controls button.skip-btn:hover {
  opacity: 0.8;
}
.footer-controls button.skip-btn:active {
  opacity: 0.6;
}

.progress-bar.register-bar {
  background-color: transparent;
}

.register-bar {
  background: linear-gradient(270deg, #0009E3 -4.38%, rgba(0, 89, 227, 0.79) 17.36%, rgba(0, 89, 227, 0) 100%);
}

/* cards */
.icon-card {
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
  min-width: 141px;
  min-height: 149px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  font-family: Inter, "serif";
}
.icon-card h6 {
  font-family: Inter, "serif";
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  margin-top: 1rem;
  color: #000;
  font-size: 16px;
  line-height: 100%; /* 16px */
  font-weight: 600;
}
.icon-card p {
  font-family: Inter, "serif";
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 140%; /* 15.4px */
}

.horizontal-bar {
  border-right: 1px solid black;
  width: 1px;
  min-height: 4rem;
  height: 100%;
}

button.btn_green {
  background: #029E57;
  color: #fff !important;
}
button.btn_green:hover {
  opacity: 0.75 !important;
  background: #029E57 !important;
}

.rotate {
  transform: rotate(180deg) !important;
}
