@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Inter);
.nft-details .nft-details-btn {
  padding: 2rem;
  box-shadow: 2px 2px 0 0 #000;
  border-radius: 8px;
  border: 0.5px solid #000;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.nft-details .nft-details-btn:hover {
  opacity: 0.8;
}
.nft-details .nft-details-btn:active {
  opacity: 0.6;
}
.nft-details .nft-details-btn.gold {
  background: #F4B406;
  padding: 1rem 5rem 1rem 5rem;
}
.nft-details .nft-details-btn.vote {
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.25rem;
  background: transparent;
}
.nft-details .custom-menu {
  min-width: 25rem !important;
}
.nft-details button.border-btn {
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.nft-details button.border-btn:hover {
  opacity: 0.8;
}
.nft-details button.border-btn:active {
  opacity: 0.6;
}
.nft-details button.border-btn #wrenchIcon {
  fill: black;
}
.nft-details input[type=range] {
  accent-color: gold !important;
}

div.member-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.member-avatar img {
  position: absolute;
  left: 7px;
  top: 7px;
  max-height: 58px;
  max-width: 58px;
  border-radius: 50%;
}

div.member-avatar-square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.member-avatar-square img {
  max-height: 58px;
  max-width: 58px;
  border-radius: 15%;
}

h1.member-title {
  margin: 0 !important;
  font-family: Inter, "serif";
  font-size: 1em;
}

div.member-card {
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  min-width: 306px;
  height: 104px;
}

.nft-info-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft-info-section header h1 {
  font-family: Inter, "serif";
  font-weight: 500;
}
.nft-info-section header button {
  border: none;
  background-color: transparent;
}
.nft-info-section header button:hover {
  opacity: 0.8;
}
.nft-info-section header button:active {
  opacity: 0.6;
}

.draft-edit-input {
  border-color: black !important;
}

button.remove-btn {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 2rem;
}
button.remove-btn:hover {
  opacity: 0.8;
}
button.remove-btn:active {
  opacity: 0.6;
}

button.add-member {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #F0F0F0;
  box-shadow: 1px 1px 0 0 #000;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}

button.submit {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #F4B406;
  box-shadow: 1px 1px 0 0 #000;
  width: 100%;
}

button.cancel {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #F0F0F0;
  box-shadow: 1px 1px 0 0 #000;
  width: 100%;
}

/* cards */
.icon-card {
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 34px -5px rgba(0, 0, 0, 0.15);
  min-width: 141px;
  min-height: 149px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  font-family: Inter, "serif";
}
.icon-card h6 {
  font-family: Inter, "serif";
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  margin-top: 1rem;
  color: #000;
  font-size: 16px;
  line-height: 100%; /* 16px */
  font-weight: 600;
}
.icon-card p {
  font-family: Inter, "serif";
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 140%; /* 15.4px */
}

.horizontal-bar {
  border-right: 1px solid black;
  width: 1px;
  min-height: 4rem;
  height: 100%;
}

button.btn_green {
  background: #029E57;
  color: #fff !important;
}
button.btn_green:hover {
  opacity: 0.75 !important;
  background: #029E57 !important;
}

.rotate {
  transform: rotate(180deg) !important;
}
