/* Banner*/
.banner {
	position: relative;
	background-color: var(--eastern-blue-2);	
	padding-top: 98px;
	padding-bottom: 88px;	
	overflow: hidden;
	z-index: 0;
}

.banner h1 {
	margin: 0;
	padding: 20px 0 70px 0;
	font-family: var(--font-family-sequel100black-95-regular);
	font-size: 32px;
	font-weight: normal;
	line-height: 48px;
	color: var(--black);	
}

.banner p {
	font-family: var(--font-family-raleway);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--black);
	margin-bottom: 30px;
}

.b_i_1 {
	position: absolute;
	left: 200px;
	bottom: 90px;	
	z-index: -1;
}

.b_i_2 {
	position: absolute;
	left: 745px;
	bottom: -100px;	
	z-index: -1;
}

.b_i_3 {
	position: absolute;
	left: 740px;
	bottom: 160px;
	z-index: -1;
}

.boxy {
	background-color: var(--white);
	padding: 20px 15px 32px 15px;
	border: 1px solid #000;
	box-shadow: 4px 4px #000;
	border-radius: 30px;
	width: 370px;
	margin-bottom: 124px;
}

.boxy_img {		
	position: relative;	
	margin-bottom: 44px;
}

.boxy img {
	border-radius: 24px;	
}

.boxy_txt_1 {
	font-family: var(--font-family-raleway);
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: var(--black);
	display: block;
	margin-bottom: 10px;
	padding-left: 20px;
}

.boxy_txt_2 {
	font-family: var(--font-family-raleway);
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #373737;
	padding-left: 20px;
}

.boxy2 {
	background-color: var(--white);
	padding: 10px;
	border: 1px solid #000;
	box-shadow: 4px 4px #000;
	border-radius: 18px;
	width: 228px;
	position: absolute;
	right: 50px;
	bottom: -50px;
	transform: rotate(14deg);
}

.boxy2 img {		
	border-radius: 16px;
	margin-bottom: 20px;
}

.boxy2_txt_1 {
	font-family: var(--font-family-raleway);
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: var(--black);
	display: block;
	padding-left: 14px;
}

.boxy2_txt_2 {
	font-family: var(--font-family-raleway);
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #373737;
	margin-right: 85px;
	margin-left: 14px;
}

.boxy2_txt_3 {
	font-family: var(--font-family-raleway);
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #373737;
}

.scaling_animation { 
    animation-name: scaling_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scaling_animation {
	0% { 
		-webkit-transform: scale (1);
		-moz-transform: scale (1);
		-ms-transform: scale (1);
		transform: scale(1);
	}
	50%  { 
		-webkit-transform: scale (1.1);
		-moz-transform: scale (1.1);
		-ms-transform: scale (1.1);
		transform: scale(1.1);
	}
	100%   { 
		-webkit-transform: scale (1);
		-moz-transform: scale (1);
		-ms-transform: scale (1);
		transform: scale(1);
	}   
}

.floating_animation { 
    animation-name: floating_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating_animation {
	0% { 
		transform: translate(0,  0px); 
	}
	50%  { 
		transform: translate(0, 15px); 
	}
	100%   { 
		transform: translate(0, -0px); 
	}   
}
/* Banner*/

/* Skew Section*/
.skew-section{
	background-color: var(--white);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 35px 0;
	margin-top: -45px;

	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;

	font-family: var(--font-family-sequel100black-95-regular);
	font-size: 24px;
	font-weight: normal;
	line-height: 44px;
	letter-spacing: 0.25em;

	-moz-transform: rotate(-2.5deg);
	-webkit-transform: rotate(-2.5deg);
	-o-transform: rotate(-2.5deg);
	-ms-transform: rotate(-2.5deg);
	transform: rotate(-2.5deg);
}
.skew-section .strawberry{ color: var(--wild-strawberry); }
.skew-section .blue{ color: var(--new-car); }
.skew-section .jaffa{ color: var(--jaffa); }
.skew-section .chateau-green{ color: var(--chateau-green); }

.skew-separator {
    background-color: var(--lily-white);    
    height: 71px;
    margin-top: -42px;
}
/* Skew Section*/

/* Popular Projects */
.popular-projects-section {
  background-color: var(--lily-white);
}

.popular-projects-section .h1{    
    font-weight: normal;
    font-size: var(--font-size-24);
    line-height: 43px;
}

.overlap-group1-1 {
  height: 117px;
  margin-left: -57px;
  margin-top: 0;
  position: absolute;
  width: 114px;
}

.subtract {
  height: 117px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 107px;
}

.ellipse-10-1 {
  background-color: var(--saffron);
  border: 0px none;
  border-radius: 31.68px;
  height: 63px;
  left: 7px;
  position: absolute;
  top: 44px;
  transform: rotate(-75.66deg);
  width: 63px;
}

.swiper.swiper-3d {
    width: 100%;
    padding-top: 42px;
    padding-bottom: 42px;
}

.swiper-3d .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    min-height: 300px;
    height: auto;
    padding: 0 15px;
}

.swiper-3d .swiper-slide img {
    display: block;
    margin: auto;
    width: 100%;
}

@media (min-width: 500px) {
    .swiper-3d .swiper-slide {
        width: 300px;
    }
    .swiper-3d .swiper-slide.swiper-slide-active{
        width: 340px;
    }
}

.htc-section {
    background-color: #26e2b5;
    border: none;
/*    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: var(--black);*/
}
.htc-section .h1{    
    color: var(--black);
    font-family: var(--font-family-sequel100black-95-regular);
    font-size: var(--font-size-32);
    font-weight: 400;
    font-style: normal;
}
.htc-section .card {
    border: 0px none;
    border-radius: 16px;
    box-shadow: 3px 3px 0px #1a1a1a;
    display: flex;
    min-height: 347px;
    overflow: hidden;
    padding: 0 37px !important;
}

.htc-section .card .h3{
    font-family: var(--font-family-sequel100black-95-regular);
    font-size: var(--font-size-24);
    font-weight: 400;
    font-style: normal;
}

.htc-section .card p{
  color: var(--onyx);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-14);
  font-weight: 400;
  font-style: normal;
}

.dark-mode .htc-section,
.dark-mode .htc-section .card,
.dark-mode .htc-section .card.bg-white,
.dark-mode .htc-section .card.bg-strawberry{
  background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%) !important;
}
.dark-mode .htc-section .text-dark{
  color: #fff !important;
}
/* Leaderboard Section*/
.leaderboard-section {
    background-color: var(--lily-white);
}

.leaderboard-section .h1{    
    color: var(--new-car);
    font-family: var(--font-family-sequel100black-95-regular);
    font-size: var(--font-size-32);
    font-weight: 400;
    font-style: normal;
}

.leaderboard-table tr {
    background-color: var(--white);
    display: inline-table;
    width: 99%;
    padding: 25px 30px;
    margin-bottom: 22px;    
    border: 0;
    border-radius: 16px;
    box-shadow: 3px 3px 0px #1a1a1a;
 }
.leaderboard-table tr td{
    font-family: var(--font-family-raleway);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: 16px;
}
.leaderboard-table > :not(caption) > * > *{
    padding: 1.5rem 0.75rem;
    background-color: var(--si-table-bg);
    border-bottom-width:0;
    box-shadow: unset;
 } 

.dark-mode .leaderboard-table tr,
.dark-mode .leaderboard-table > :not(caption) > * > *{
    background-color: #000;
}

/*.leaderboard-section h4 {
    font-family: 'sequel';
    font-size: 24px;
    font-weight: normal;
    line-height: 43px;
    color: #2745e2;
    margin: 0 0 92px 0;
    padding: 0;
}

.results_table {
    padding: 25px 30px;
    border-radius: 16px;
    border: 1px solid #000;
    box-shadow: 2px 2px #000;
    background-color: #fff;
    margin-bottom: 22px;
}

.ideas_img {
    margin-right: 10px;
}

.discord_blue {
    margin-right: 20px;
}*/
/* Leaderboard Section*/

/*projects-slider*/
.projects-slider-section {
    background-color: var(--project-slider-bg);
    background-size: cover;
    background-position: center;
}

.projects-slider-section .h1{    
    color: var(--new-car);
    font-family: var(--font-family-sequel100black-95-regular);
    font-size: var(--font-size-32);
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}
.projects-slider-section .raleway-normal-black-16px{
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-16);
  font-weight: 400;
  font-style: normal;
}


/*projects-slider*/
.contribution-section {
    background-color: #2745e2;
    padding-top: 214px;
    padding-bottom: 162px;
}

.contribution_sec_title {
    font-family: var(--font-family-sequel100black-95-regular);;
    font-size: 32px;
    font-weight: normal;
    line-height: 58px;
    color: #fff;
    margin: 0 0 78px 0;
    padding: 0;
    display: block;
}

.contribution_col {
    padding: 60px 25px 30px 25px;
    border-radius: 14px;
    box-shadow: 4px 4px #000;
    margin-bottom: 30px;
}

.contribution_col_title {
    font-family: var(--font-family-sequel100black-95-regular);;
    font-size: 24px;
    font-weight: normal;
    line-height: 43px;
    color: #000;
    margin: 0 0 78px 0;
    padding: 0;
    display: block;
}

.contribution_col p {
    font-family: var(--font-family-raleway);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.cc1 {
    background-color: #abaddd;
}
.cc2 {
    background-color: #ef3291;
    min-height: 494px;
}
.cc3 {
    background-color: #eb9541;
    min-height: 494px;
}

.icons_sec {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 25px;
}

.icons_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.icons_sec img {    
    margin-bottom: 25px;
}

.tokenomics {
    background-color: #fed2cf;
    padding-top: 86px;
    padding-bottom: 108px;
}

.tokenomics_title {
    font-family: var(--font-family-sequel100black-95-regular);;
    font-size: 40px;
    line-height: 47px;
    color: #EF3291;
    display: block;
    text-align: center;
    margin-bottom: 42px;
}

.tokenomics_subtitle {
    font-family: var(--font-family-raleway);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 100px;
}

.tokenomics_points {
    padding: 15px 40px 5px 40px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 2px 2px #000;
    background-color: #fff;
    margin-bottom: 12px;
}

.tokenomics_points h6 {
    font-family: var(--font-family-raleway);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.tokenomics_points p {
    font-family: var(--font-family-raleway);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #373737;
}

.tp1 {
    color: #eb9541;
}
.tp2 {
    color: #ef3291;
}
.tp3 {
    color: #3271ef;
}
.tp4 {
    color: #3bbc66;
}

.tbg1 {
    border-left: 10px solid #eb9541;
}
.tbg2 {
    border-left: 10px solid #ef3291;
}
.tbg3 {
    border-left: 10px solid #3271ef;
}
.tbg4 {
    border-left: 10px solid #3bbc66;
}

.tokenomics_points_outer {
    border-left: 1px solid #000;
    border-radius: 10px;
}
